## Default

gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

key.properties

## Custom

fastlane/metadata/android/**/images/**/*.png
fastlane/report.xml
fastlane/**/images

google_play_console_developer_key*.json