{
  "version": "2017-02-28",
  "operation": "Query",

  "query" : {
    "expression": "nameId = :medicine",
    "expressionValues" : {
      ":medicine" : { "S" : "medicine" }
    }
  },

  "filter": #if($context.args.filter) $util.transform.toDynamoDBFilterExpression($ctx.args.filter) #else null #end,

  "limit": $util.defaultIfNull($ctx.args.limit, 20),
  "nextToken": $util.toJson($util.defaultIfNullOrEmpty($ctx.args.nextToken, null)),
}