{
  "version": "2017-02-28",
  "operation": "DeleteItem",
  "key": {
    "nameId": $util.dynamodb.toDynamoDBJson($ctx.args.input.nameId)
    "entryId": $util.dynamodb.toDynamoDBJson($ctx.args.input.entryId),
  },
}