{
  "version": "2017-02-28",
  "operation": "GetItem",
  "key": {
    "nameId": $util.dynamodb.toDynamoDBJson(${ctx.source.dosesEntryId.nameId}),
    "entryId": $util.dynamodb.toDynamoDBJson(${ctx.source.dosesEntryId.entryId}),
  },
}