{
  "version": "2017-02-28",
  "operation": "PutItem",
  "key": {
    "nameId": $util.dynamodb.toDynamoDBJson("food"),
    "entryId": $util.dynamodb.toDynamoDBJson($util.autoId()),
  },
  "attributeValues": $util.dynamodb.toMapValuesJson($ctx.args.input),
}