{
  "version": "2017-02-28",
  "operation": "Scan",

  #set($nameIdFilter = {"beginsWith": "food#"})
  #if($ctx.args.filter)
    #set($filter = $ctx.args.filter)
    #set($filter.nameId = $nameIdFilter)
  #else
    #set($filter = {"nameId": $nameIdFilter})
  #end
  "filter": $util.transform.toDynamoDBFilterExpression($filter),

  "limit": $util.defaultIfNull($ctx.args.limit, 20),
  "nextToken": $util.toJson($util.defaultIfNullOrEmpty($ctx.args.nextToken, null)),
}