<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>763316144034-38h5bifo6qh4e19koea086fc7pkb2rlo.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.763316144034-38h5bifo6qh4e19koea086fc7pkb2rlo</string>
		<key>API_KEY</key>
		<string>AIzaSyAWxtE8tJixTBRWv3j6k7HyJuaMHSk8-jg</string>
		<key>GCM_SENDER_ID</key>
		<string>763316144034</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.gutlogic.app</string>
		<key>PROJECT_ID</key>
		<string>gutlogic</string>
		<key>STORAGE_BUCKET</key>
		<string>gutlogic.appspot.com</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:763316144034:ios:ab31246d8615c3cae6d4fb</string>
		<key>DATABASE_URL</key>
		<string>https://gutlogic.firebaseio.com</string>
	</dict>
</plist>