// The APP_FLAVOR is passed into the bundle via Info.plist so it can be accessed from Dart.
APP_FLAVOR=development

// The APP_DISPLAY_NAME replaces the final display name, since our target has to be named Runner.
APP_DISPLAY_NAME=Gut Logic Dev

// The PRODUCT_BUNDLE_IDENTIFIER replaces the bundle identifier in Runner/Info.plist
PRODUCT_BUNDLE_IDENTIFIER=com.gutlogic.app.dev

// Provide the Google service file path so the build process can copy it into the bundle.
GOOGLE_SERVICE_FILE=${PROJECT_DIR}/Configurations/Development/GoogleService-Info.plist
